/* Sessão Destaques */

.apresentacao_sistemas {
	float: left;
	width: 100%;
	z-index: 99999;

}

.texto_principal {
	font-weight: 700;
	font-size: 14.71px;
	text-align: justify
}

.titulo {
	font-size: 1.4em;
}

.azul {
	color: #009dff
}

.textos_2_2_2 {
	margin-top: 15px;
}

.box-item_slide02 {
	width: 99%;
	margin: 0.5%;
	position: relative;
}

.box-item_slide02 img {
	width: 100%;
	max-width: 100%;
}

.box-item_fundamental {
	float: left;
	width: 49%;
	margin: 0.5%;
	overflow: hidden;
	cursor: pointer;
}

.box-item_fundamental_2 {
	float: left;
	width: 99%;
	margin: 0.5%;
	overflow: hidden;
	cursor: pointer;
}

.box-item_fundamental img,
.box-item_fundamental_2 img {
	width: 100%;
	height: 100%;
	float: left;
	max-width: 100%;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.box-item_fundamental img:hover,
.box-item_fundamental_2 img:hover {
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.linha_4 {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.coluna_4 {
	width: 100%;
	float: left;
}

.coluna_4_1 {
	float: left;
	width: 100%;
}

.coluna_4_1 h2 {
	margin-top: 0;
	color: #009dff
}

@media screen and (min-width: 720px) {

	.apresentacao_sistemas {
		margin-top: 30px;

	}

	.banner_fundamental {
		margin-top: 40px;
	}

	.linha_4 {
		height: 500px;
	}

	.box-item_slide02 img {
		height: 480px
	}
	.box-item_fundamental {
		float: left;
		width: 49%;
		margin: 0.8% 0.5%;
		position: relative;
	}
	.coluna_4 {
		width: 60.1%;
		margin: 0.9% 0;
		float: left;
	}
	.coluna_4_1 {
		width: 39%;
		margin: 1% 0 0 0.3%;
		height: 470px;
		float: left;
	}
	.textos_2_2_1 {
		height: 214.1px;
		font-size: 12.29px;
	}

	.textos_2_2_2 {
		height: 302px;
		font-size: 12.29px;
		margin-top: 9px;
	}
	.box-item_fundamental img {
		height: 157px;
	}

	.box-item_fundamental_2 img {
		height: 158px;
	}
}

@media screen and (min-width: 800px) {



	.linha_4 {
		height: 540px;
	}

	.box-item_slide02 img {
		height: 520px
	}
	.box-item_fundamental img {
		height: 170px;
	}

	.box-item_fundamental_2 img {
		height: 171px;
	}

}

@media screen and (min-width: 960px) {

	.apresentacao_sistemas {
		margin-top: 40px;

	}
	.linha_4 {
		height: 580px;
	}

	.box-item_slide02 img {
		height: 560px
	}
	.box-item_fundamental img {
		height: 182.7px;
	}

	.box-item_fundamental_2 img {
		height: 184.3px;
	}

}


/* Fim da sessão destaques */