/* Sessão Destaques */

.apresentacao_sistemas {
	float: left;
	width: 100%;
	z-index: 99999;

}

.texto_principal {
	font-weight: 700;
	font-size: 14.71px;
	text-align: justify
}

.azul {
	color: #009dff
}

#semi-integral {
	margin-bottom: 10px;
}

.textos_2_2_2 {
	margin-top: 15px;
}

.box-item_slide02 {
	width: 99%;
	margin: 0.5%;
	position: relative;
}

.box-item_slide02 img {
	width: 100%;
	max-width: 100%;
}

.box-item_integral {
	float: left;
	width: 49%;
	margin: 0.5%;
	overflow: hidden;
	cursor: pointer;
}

.box-item_integral img {
	width: 100%;
	height: 100%;
	float: left;
	max-width: 100%;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.box-item_integral img:hover {
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.linha_4 {
	width: 100%;
	float: left;
}

.coluna_4 {
	width: 100%;
	float: left;
}

.coluna_4_1 {
	float: left;
	width: 100%;
}

.coluna_4_1 h2 {
	margin-top: 0;
	color: #009dff
		
}

.coluna_4_1 p {
	margin-top: -10px;
	line-height: 1.6em;
	font-weight: 700;
	text-align: justify
}

@media screen and (min-width: 720px) {

	.apresentacao_sistemas {
		margin-top: 30px;

	}

	.linha_4 {
		height: 490px;
	}

	.box-item_slide02 img {
		height: 470px
	}
	.box-item_integral {
		float: left;
		width: 24%;
		margin: 0.8% 0.5%;
		position: relative;
	}
	.coluna_4 {
		width: 49%;
		margin: 0.9% 0.3% 0;
		float: left;
	}
	.coluna_4_1 {
		width: 49%;
		margin: 1% 0 0 0.3%;
		height: 470px;
		float: left;
	}
	.textos_2_2_1 {
		height: 214.1px;
		font-size: 12.29px;
	}

	.textos_2_2_2 {
		height: 302px;
		font-size: 12.29px;
		margin-top: 9px;
	}
	.box-item_integral img {
		height: 81px;
	}
}

@media screen and (min-width: 800px) {


	.linha_4 {
		height: 610px;
	}

	.box-item_slide02 img {
		height: 590px
	}
	.box-item_integral img {
		height: 119.5px;
	}
	.coluna_4_1 h2 {
		font-size: 19px;
	}
	.coluna_4_1 p {
		font-size: 13px;
		font-weight: bolder;
	}

	.textos_2_2_1 p {
		font-size: 12.8px;

	}

	.textos_2_2_2 {
		height: 344px;

	}
}

@media screen and (min-width: 960px) {

	.apresentacao_sistemas {
		margin-top: 40px;

	}
	.coluna_4_1 h2 {
		font-size: 20px;
	}
	.coluna_4_1 p {
		font-size: 14px;
		font-weight: bolder;
	}

	.textos_2_2_1 {
		height: 214.9px;

	}

	.textos_2_2_2 {
		height: 342px;

	}
}


/* Fim da sessão destaques */